.nav {
  background-color: black;
  width: 100vw;
  height: 42px;
  display: flex;
  color: white;

  &__logo {
    width: 34px;
    margin-left: 4px;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0 8px 0 auto;
    display: flex;
  }

  &__item {
    cursor: pointer;
    margin-left: 8px;
    margin-right: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    a {
      text-decoration: none;
      color: white;
    }
  }
}

