* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../imgs/fondo.jpg");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  padding: 100px;
}

/* Formulario */

#preview {
  height: 200px;
  background-image: url(../imgs/lion.svg);
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
}


/* Tabla de Participantes */

#Animales {
  height: 100%;
  background: #f0f0f0;
}

#Animales div div {
  transition: all 200ms;
}

#Animales div >div:hover {
  box-shadow: 0px 1px 5px 1px;
}

.participante {
  max-width: 30%;
}

/* Modal */

.modal-dialog{
    max-width: 85% !important;
}

